body {
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 2em;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
